<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>DB_Strategy</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <!-- ホームセクション -->

    <header class="section-header">
      <a class="header-logo" href="/">あくまデバイス</a>
      <h1 class="header-title">ゲキシンスクアドラ攻略</h1>
      <div class="menu">
        <span>{Card}</span>
      </div>
    </header>
    <div class="section-body">
      <div class="serch">
        <input type="text" class="serch-input" step="any" />
      </div>

      <div class="container">
        <h2 class="contents-title">カミアワセカード一覧</h2>
        <div class="card-container">
          <div class="card-zoon 1" id="card-list1"></div>
          <div class="card-zoon 2" id="card-list2"></div>
          <div class="card-zoon 3" id="card-list3"></div>
        </div>
      </div>
    </div>
    <script src="js/cards.js"></script>
  </body>
</html>
