<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>DB_Strategy</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
          <header class="section-header">
            <a class="header-logo" href="/">あくまデバイス</a>
            <h1 class="header-title">ゲキシンスクアドラ攻略</h1>
            <div class="menu">
              <span>{現在のコンテンツ}</span>
            </div>
          </header>
          <div class="section-body">
            <div class="serch">
              <input type="text" class="serch-input" step="any" />
            </div>
            <div class="content-menu">
              <div class="contents-card">
                <div class="contents-card-item" data-tab="chara">
                  <a class="btn-link" href="/character">
                    Chara
                    <p class="card-detail">
                      キャラクター<br>
                      一覧
                    </p>
                  </a>
                </div>
                <div class="contents-card-item" data-tab="Card">
                  <a class="btn-link" href="/card">
                    Card
                    <p class="card-detail">
                      カミアワセカード<br>
                      一覧
                    </p>
                  </a>
                </div>
                <div class="contents-card-item" data-tab="Build">
                  <a class="btn-link stop" href="">
                    Build
                    <p>準備中</p>
                  </a>
                </div>
                <div class="contents-card-item" data-tab="Tire">
                  <a class="btn-link" href="/tire">
                    Tire
                    <p class="card-detail">Tire表の作成</p>
                  </a>
                </div>
                <div class="contents-card-item Map" data-tab="Map">
                  <a class="btn-link" href="/map">
                    Map
                    <p class="card-detail">全体マップとオブジェクトの沸き時間</p>
                  </a>
                  
                </div>
            </div>

          </div>
  </body>
</html>
