<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Map</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <header class="section-header">
      <a class="header-logo" href="/">あくまデバイス</a>
      <h1 class="header-title">ゲキシンスクアドラ攻略</h1>
      <div class="menu">
        <span>{Map}</span>
      </div>
    </header>
    </header>
    <div class="section-body">
      <!-- <div class="serch">
        <input type="text" class="serch-input" step="any" />
      </div> -->
      <div class="container">
        <div id="map-container">
          <div id="map-layer">
            <div class="draggable-icon" id="my-icon1">
              <div class="img-tag"></div>
            </div>
            <div class="draggable-icon" id="my-icon2"></div>
            <div class="draggable-icon" id="my-icon3"></div>
            <div class="draggable-icon" id="my-icon4"></div>
            <div class="draggable-icon" id="my-icon5"></div>
            <div class="draggable-icon" id="my-icon6"></div>
            <div class="draggable-icon" id="my-icon7"></div>
            <div class="draggable-icon" id="my-icon8"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/map_script.js"></script>
  </body>
</html>
