<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>TireList</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <header class="section-header">
      <a class="header-logo" href="/">あくまデバイス</a>
      <h1 class="header-title">ゲキシンスクアドラ攻略</h1>
      <div class="menu">
        <span>{Tire}</span>
      </div>
    </header>
    <div class="section-body">
      <!-- <div class="serch">
        <input type="text" class="serch-input" step="any" />
      </div> -->

      <div class="container">
        <h2 class="contents-title">Tire表の作成</h2>
        <div class="controls">
          <button class="btn" id="add-rank-btn">ランクを追加</button>
        </div>

        <div id="tier-list-container"></div>

        <div id="character-pool" class="rank-drop-zone default">
          <!-- <img
            src="images/Goku.png"
            alt="キャラクター1"
            class="draggable"
            id="Goku-image"
          />
          <img
            src="https://via.placeholder.com/80x80/00FF00/FFFFFF?text=Char2"
            alt="キャラクター2"
            class="draggable"
            draggable="true"
            id="char2"
          />
          <img
            src="https://via.placeholder.com/80x80/0000FF/FFFFFF?text=Char3"
            alt="キャラクター3"
            class="draggable"
            draggable="true"
            id="char3"
          />
          <img
            src="https://via.placeholder.com/80x80/FFFF00/000000?text=Char4"
            alt="キャラクター4"
            class="draggable"
            draggable="true"
            id="char4"
          />
          <img
            src="https://via.placeholder.com/80x80/FF00FF/FFFFFF?text=Char5"
            alt="キャラクター5"
            class="draggable"
            draggable="true"
            id="char5"
          /> -->
        </div>
      </div>
    </div>
    <script src="js/tire_character.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
